.controlsItem {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #4a4a4a;
}
