body {
  margin: 0;
  background: #1a70b3;
  height: 100vh;

  box-sizing: border-box;
}

.app {
  flex-wrap: wrap;
  max-width: 735px;
  display: flex;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 503px;
  flex-basis: 100%;
  margin-left: 20px;
}
