.checkbox {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .checkmark {
      position: absolute;
      top: 0;
      left: 7px;
      height: 18px;
      width: 18px;
      border: 1px solid #9abbce;
      border-radius: 1px;
      &:after {
        content: '';
        position: absolute;
        display: none;
      }
    }
    & input:checked ~ .checkmark {
      background: #ffffff;
    }
    & input:checked ~ .checkmark:after {
      display: block;
    }
    & .checkmark:after {
      left: 6px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #2196f3;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
